body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topBar {
  /* background-color: lightblue;
   */
   background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

}

#topBarTitle {
  font: bold 30px Verdana, Arial;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.tool {
  margin:25px 20px;

}

.outerBox {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 700px; */
  width: 1000px;
}

.cell {
  box-shadow: 1px 1px lightblue;
  /* border: 0px solid lightblue; */
  /* height: 98px; */
  /* width: 98px; */
  margin: 0px;
  border-radius: .5em;
}

.changeColor {
  background-color: aqua;
}